<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>

<h:head>
  <title>Data Discovery Page</title>
</h:head>

<style type="text/css">
  .value {
      font-weight: bold;
  }
   
  .ui-datatable {
      margin-bottom: 25px
  }
   
  .ui-datatable .ui-datatable-footer {
      text-align:left;
  }
   
  .ui-datalist ul {
      padding: 0 0 0 10px;
      margin: 5px 0;
  }
   
  .ui-datatable .ui-button-icon-only .ui-button-text {
      padding: 0;
      line-height: 1.2;
  }
  .ui-dialog{
    position: absolute !important;
  }
</style>

<!-- customers -->
<h:form id="customerForm">
    <p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />
  <p:dataTable var="customer" value="#{dtDiscoveryView.customers}" widgetVar="customersTable" scrollable="true" scrollWidth="100%" scrollHeight="900"
                emptyMessage="No customers found with given criteria">
                <f:facet name="header">
        Customers
    </f:facet>
    <f:facet  name="header">
        <p:outputPanel>
            <h:outputText value="Filter in all column:" />
            <p:inputText id="globalFilter" onkeyup="PF('customersTable').filter()" style="width:150px" placeholder="Enter keyword"/>
        </p:outputPanel>
    </f:facet>
    <p:column style="width:32px;text-align: center">
        <p:commandButton update=":customerDetail" oncomplete="PF('customerDialog').show()" icon="pi pi-search" title="View" action="#{dtDiscoveryView.selectCustomer(customer)}">
        </p:commandButton>
    </p:column>
    <p:column headerText="customerNumber" width="250" filterBy="#{customer.customerNumber}" filterMatchMode="contains">
      <h:outputText value="#{customer.customerNumber}" />
    </p:column>

    <p:column headerText="customerName" width="250" filterBy="#{customer.customerName}" filterMatchMode="contains">
      <h:outputText value="#{customer.customerName}" />
    </p:column>

    <p:column headerText="contactLastName" width="250" filterBy="#{customer.contactLastName}" filterMatchMode="contains">
      <h:outputText value="#{customer.contactLastName}" />
    </p:column>

    <p:column headerText="contactFirstName" width="250" filterBy="#{customer.contactFirstName}" filterMatchMode="contains">
      <h:outputText value="#{customer.contactFirstName}" />
    </p:column>

    <p:column headerText="phone" width="250" filterBy="#{customer.phone}" filterMatchMode="contains">
      <h:outputText value="#{customer.phone}" />
    </p:column>
    <p:column headerText="addressLine1" width="250" filterBy="#{customer.addressLine1}" filterMatchMode="contains">
      <h:outputText value="#{customer.addressLine1}" />
    </p:column>
    <p:column headerText="addressLine2" width="250" filterBy="#{customer.addressLine2}" filterMatchMode="contains">
      <h:outputText value="#{customer.addressLine2}" />
    </p:column>
    <p:column headerText="city" width="250" filterBy="#{customer.city}" filterMatchMode="contains">
      <h:outputText value="#{customer.city}" />
    </p:column>
    <p:column headerText="state" width="250" filterBy="#{customer.state}" filterMatchMode="contains">
      <h:outputText value="#{customer.state}" />
    </p:column>
    <p:column headerText="postalCode" width="250" filterBy="#{customer.postalCode}" filterMatchMode="contains">
      <h:outputText value="#{customer.postalCode}" />
    </p:column>
    <p:column headerText="country" width="250" filterBy="#{customer.country}" filterMatchMode="contains">
      <h:outputText value="#{customer.country}" />
    </p:column>
    <p:column headerText="salesRepEmployeeNumber" width="250" filterBy="#{customer.salesRepEmployeeNumber}" filterMatchMode="contains">
      <h:outputText value="#{customer.salesRepEmployeeNumber}" />
    </p:column>
    <p:column headerText="creditLimit" width="250" filterBy="#{customer.creditLimit}" filterMatchMode="contains">
      <h:outputText value="#{customer.creditLimit}" />
    </p:column>
    
  </p:dataTable>
</h:form>

<p:dialog header="Selected customer's products details and order details (*Draggable*) " widgetVar="customerDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
      <p:outputPanel id="customerDetail" style="text-align: center;">

        <h:form>
          <p:dataTable var="ordersOrderdetailsProduct" value="#{dtDiscoveryView.ordersOrderdetailsProducts}" 
                          scrollable="true" scrollWidth="1000" tableStyle="table-layout" scrollHeight="500">
              <p:column headerText="orderNumber" width="250" sortBy="#{ordersOrderdetailsProduct.orderNumber}">
                <h:outputText value="#{ordersOrderdetailsProduct.orderNumber}" />
              </p:column>
          
              <p:column headerText="orderDate" width="250" sortBy="#{ordersOrderdetailsProduct.orderDate}">
                <h:outputText value="#{ordersOrderdetailsProduct.orderDate}" />
              </p:column>
          
              <p:column headerText="productCode" width="250" sortBy="#{ordersOrderdetailsProduct.productCode}">
                <h:outputText value="#{ordersOrderdetailsProduct.productCode}" />
              </p:column>
          
              <p:column headerText="productName" width="250" sortBy="#{ordersOrderdetailsProduct.productName}">
                <h:outputText value="#{ordersOrderdetailsProduct.productName}" />
              </p:column>
          
              <p:column headerText="productLine" width="250" sortBy="#{ordersOrderdetailsProduct.productLine}">
                <h:outputText value="#{ordersOrderdetailsProduct.productLine}" />
              </p:column>
          
              <p:column headerText="productScale" width="250" sortBy="#{ordersOrderdetailsProduct.productScale}">
                <h:outputText value="#{ordersOrderdetailsProduct.productScale}" />
              </p:column>
          
              <p:column headerText="productVendor" width="250" sortBy="#{ordersOrderdetailsProduct.productVendor}">
                <h:outputText value="#{ordersOrderdetailsProduct.productVendor}" />
              </p:column>
              <p:column headerText="productDescription" width="250" sortBy="#{ordersOrderdetailsProduct.productDescription}">
                <h:outputText value="#{ordersOrderdetailsProduct.productDescription}" />
              </p:column>
              <p:column headerText="quantityInStock" width="250" sortBy="#{ordersOrderdetailsProduct.quantityInStock}">
                <h:outputText value="#{ordersOrderdetailsProduct.quantityInStock}" />
              </p:column>
              <p:column headerText="buyPrice" width="250" sortBy="#{ordersOrderdetailsProduct.buyPrice}">
                <h:outputText value="#{ordersOrderdetailsProduct.buyPrice}" />
              </p:column>
              <p:column headerText="MSRP" width="250" sortBy="#{ordersOrderdetailsProduct.MSRP}">
                <h:outputText value="#{ordersOrderdetailsProduct.MSRP}" />
              </p:column>
          
              <p:column headerText="requiredDate" width="250" sortBy="#{ordersOrderdetailsProduct.requiredDate}">
                <h:outputText value="#{ordersOrderdetailsProduct.requiredDate}" />
              </p:column>
          
              <p:column headerText="shippedDate" width="250" sortBy="#{ordersOrderdetailsProduct.shippedDate}">
                <h:outputText value="#{ordersOrderdetailsProduct.shippedDate}" />
              </p:column>
          
              <p:column headerText="status" width="250" sortBy="#{ordersOrderdetailsProduct.status}">
                <h:outputText value="#{ordersOrderdetailsProduct.status}" />
              </p:column>
              <p:column headerText="comments" width="250" sortBy="#{ordersOrderdetailsProduct.comments}">
                <h:outputText value="#{ordersOrderdetailsProduct.comments}" />
              </p:column>
              <p:column headerText="quantityOrdered" width="250" sortBy="#{ordersOrderdetailsProduct.quantityOrdered}">
                <h:outputText value="#{ordersOrderdetailsProduct.quantityOrdered}" />
              </p:column>
          
              <p:column headerText="priceEach" width="250" sortBy="#{ordersOrderdetailsProduct.priceEach}">
                <h:outputText value="#{ordersOrderdetailsProduct.priceEach}" />
              </p:column>
          
              <p:column headerText="orderLineNumber" width="250" sortBy="#{ordersOrderdetailsProduct.orderLineNumber}">
                <h:outputText value="#{ordersOrderdetailsProduct.orderLineNumber}" />
              </p:column>
              
            </p:dataTable>
          </h:form>
      </p:outputPanel>
    </p:dialog>
</html>